<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
    <head>
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col" layout:fragment="content">
                    <h1>Welcome to the Index page</h1>
                    <br>This content is replacing the content of the layout:fragment="content"<br>
                    placeholder in layout.html</p>
                </div>
            </div>
        </div>
    </body>
</html>